.boardRules__container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;

    transition: all 0.25s ease-in-out;

    .boardRules{
        width: 100%;
        height: 100%;
        padding: 2rem;

        background-color: white;

        h2{
            color: rgb(104, 121, 146);
        }

        .imageRules{
            background-image: url("../images/image-rules.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
    
            width: 100%;
            max-width: 600px;
            aspect-ratio: 1;
        }

        i{
            color: rgba(0, 0, 0, 0.35);
        }
    }
}